&ACTUATOR_DISK
xLoc         =   {{ "%0.4f"|format(xturb|float) }}d0
yLoc         =   {{ "%0.4f"|format(yturb|float) }}d0
zLoc         =   {{ "%0.4f"|format(zturb|float) }}d0
diam         =   1.0000d0
cT           =   {{ "%0.4f"|format(ctp|float) }}d0
tilt         =   0.0000d0
yaw          =   {{ "%0.4f"|format(yaw|float) }}d0
filterWidth  =   {{ "%0.4f"|format(filterwidth|float) }}d0
useCorrection = .{{ usecorrection }}.
useDynamicYaw = .FALSE.
/