&concurrent
HIT_InputFile                 = "{{ dirname }}/{{ input_hit }}"
AD_InputFile                  = "{{ dirname }}/{{ input_ad }}"
Empty_InputFile               = "{{ dirname }}/{{ input_empty }}"
k_bandpass_left               = {{ "%.4f"|format(k_bandpass_left|float)}}d0
k_bandpass_right              = {{ "%.4f"|format(k_bandpass_right|float)}}d0
TI_target                     = {{ "%.4f"|format(TI|float)}}d0
TI_fact                       = {{ "%.4f"|format(TI_fact|float)}}d0
TI_xloc                       = {{ "%.4f"|format(TI_xloc|float)}}d0
freeze_HIT                    = .{{ freeze_hit }}.  ! Freezes HIT fringe targets
time_stop_TIcont              = {{ "%.1f"|format(time_stop_TIcont) }}d0  ! Turn off the TI controller when budgets are turned ON
KIinv_TI                      = {{ "%.4f"|format(KIinv_TI|float)}}d0  ! Integral gain for TI controller 
/
/
&FILTER_INFO
applyfilters = .FALSE. 
nfilters     = 2
fof_dir      = "/projects/windFlowModeling/PadeOps/HIT_Interact/filter_visualizations/"
tid_FIL_FullField = 75
tid_FIL_Planes = 4
filoutdir    = "/scratch/globus/aghate/filter_visualization/ad_data" 
/
/
&BUDGET_TIME_AVG_DEFICIT
do_budgets            = .{{ do_deficit_budgets }}.    ! Perform budget calculations?
budgetType            = {{ budget_type }}         ! See type descriptions in budget_time_avg.F90
budgets_dir           = "{{ dirname }}"    ! Write in default output directory
tidx_compute          = 1        ! How often should budgets be computed?
tidx_dump             = 1000      ! How often should budget files be written to disk?
tidx_budget_start     = -1      ! Start budget computation from this timestep onward
time_budget_start     = {{ "%0.1f"|format(time_budget_start|float) }}d0
restart_budgets       = .{{ restart_budgets }}.   ! use existing budget file to restart budget calculations?
restart_rid           = 1         ! Restart budget file run index
restart_tid           = {{ restart_tid }}     ! Restart budget file time index
restart_counter       = {{ restart_budget_counter }}     ! Restart budget file counter
/
