#!/bin/bash
#SBATCH -J padeops            # Job name
#SBATCH -o padeops.o%j        # Name of stdout output file
#SBATCH -e padeops.e%j        # Name of stderr error file
#SBATCH -p wholenode                      # Queue (partition) name
#SBATCH -N {{ n_nodes }}                        # Total # of nodes
#SBATCH --ntasks-per-node 128        # Total # of cores
#SBATCH -t {{ n_hrs }}:00:00                 # Run time (hh:mm:ss)
#SBATCH --mail-user=                # Email ID  
#SBATCH --mail-type=none             # Send email at begin and end of job
#SBATCH -A atm170028             # Allocation details

export FI_PROVIDER=psm2
export I_MPI_EXTRA_FILESYSTEM="on"
export program=~/PadeOps/build_opti/problems/{{ problem_dir }}/{{ problem_name }}

date
echo "Running $program"
# Launch MPI code...
mpirun $program {{ dirname }}/{{ inputfile_name }}
